.details {
  background-image: url('../../images/green-pattern.png');
  background-repeat: repeat;
  min-height: 100vh;
  color: white;
  text-align: center;
}

.details-header {
  color: white;
  margin-bottom: 4rem;
}

.details-section {
  margin-bottom: 3rem;
}

.where-text {
	margin-bottom: 0.15rem;
}

.where-italic {
  margin-top: 1.5rem;
  font-style: italic;
}