.details {
  background-image: url('../../images/green-pattern.png');
  background-repeat: repeat;
  min-height: 100vh;
  color: white;
  text-align: center;
}

.details-header {
  color: white;
  margin-bottom: 6rem;
}

.details-section {
  margin-bottom: 6rem;
}

.where-title {
	margin-bottom: 1.5rem;
}

.where-subtitle {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.where-text {
	text-transform: uppercase;
}
