.pill-button {
  background-color: white;
  color: #9AA7B4;
  font-weight: bold;
  border-radius: .25rem;
  padding: .5rem 1rem;
  cursor: pointer;
  border: 1px solid #9AA7B4;
}


.pill-button:hover {
	background-color: #9AA7B4;
	color: white;
	transition: 0.1s;
}
