.pill-button {
  background-color: #A2AAAD;
  color: white;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 14px;
  border-radius: .25rem;
  padding: .5rem 1rem;
  cursor: pointer;
  border: 1px solid #A2AAAD;
}


.pill-button:hover {
	background-color: #818789;
	color: white;
	transition: ease all 0.2s;
  border: 1px solid #818789;
}
