.hero {
  background-image: url('../../images/main.png');
  min-height: 100vh;
  background-size: cover;
  background-position: bottom;

}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

