.rsvp-footer {
  background-image: url('../../images/pink-pattern.png');
  min-height: 40vh;
}

.rsvp-footer-header {
  color: white;
  text-align: center;
}

.rsvp-footer-button {
  background-color: rgba(255, 255, 255, .4);
  color: white;
  padding: .75rem 2rem;
  border: 1px solid white;
}
