.hero-message {
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
  text-align: center;
  padding: 0 2rem;
}

.hero-message-title {
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: .2rem;
  font-family: TiemposHeadline;
  font-weight: bold;
  color: white;
}

.hero-message-date {
  padding-top: 1rem;
  font-family: Gotham;
  letter-spacing: .1rem;
  text-transform: uppercase;
  color: white;
  opacity: 0.75;
}

.hero-button {
  margin-top: 2rem;
  background-color: rgba(255, 255, 255, .3);
  color: white;
  border: 0px;
  padding: 0.75rem 1.25rem;
}

.hero-button:hover {
  background-color: rgba(255, 255, 255, .4);
  transition: 0.2s;
}


@media only screen and (max-width: 440px) {
  .hero-message {
    top: 20%;
  }
}
