.hero-message {
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
  text-align: center;
}

.hero-message-title {
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: .2rem;
  font-family: TiemposHeadline;
  font-weight: bold;
  color: white;
}

.hero-message-date {
  padding-top: 1rem;
  font-family: Gotham;
  letter-spacing: .1rem;
  text-transform: uppercase;
  color: white;
  opacity: 0.75;
}

.hero-button {
  margin-top: 2rem;
}
