.invitation-code-wrapper {
  display: flex;
  flex-direction: column;
}

.invitation-code-input {
  margin-top: 3rem;
}

.invitation-code-button {
  align-self: flex-end;
}

.invitation-code-error {
  color: red;
  min-height: 1.5rem;
  margin-top: .5rem;
  margin-bottom: 1rem;
}
