.rsvp-form {
  display: flex;
  flex-direction: column;
}

.rsvp-event {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  justify-content: space-between;
  align-items: center;
}

.rsvp-divider {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.rsvp-modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.rsvp-label-input {
  margin: .75rem 0rem;
  font-size: 14px;
  font-weight: 700;
  color: #A7ADAF;
}

.rsvp-label-select {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0rem;
}

.rsvp-label-input label {
  min-width: 5rem;
  display: inline-block;
}

.rsvp-label-input input, .rsvp-label-input textarea {
  width: 100%;
  font-weight: normal;
  opacity: .75;
}

.close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  opacity: .3;
}
.close:hover {
  opacity: .5;
  transition: 0.2s;
}

.select {
  background: white;
  border: 1px solid #A7ADAF;
  margin-left: 2rem;
}
